.MsgFrameBox {
    position: absolute;
    width: 170%;
    height: 170%;
    box-sizing: border-box;
    left: -45%;
    top: -10%;
}

.Cube1 {
    position: absolute;
    width: 5%;
    height: 5%;
    box-sizing: border-box;
    left: 90%;
    top: 10%;
    transform: rotate(-14.64deg);
    opacity: 0.8;
    mix-blend-mode: screen;
    filter: blur(6px);
    -webkit-filter: blur(6px);
}
.Cube2 {
    position: absolute;
    width: 8%;
    height: 8%;
    box-sizing: border-box;
    left: 82%;
    top: 20%;
    transform: rotate(-20.64deg);
    opacity: 0.8;
    mix-blend-mode: screen;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.Cube3 {
    position: absolute;
    width: 10%;
    height: 10%;
    box-sizing: border-box;
    left: 65%;
    top: 14%;
    transform: rotate(-100.64deg);
    opacity: 0.8;
    mix-blend-mode: screen;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.Cube4 {
    position: absolute;
    width: 20%;
    height: 20%;
    box-sizing: border-box;
    left: 73%;
    top: 35%;
    transform: rotate(-300.64deg);
    opacity: 0.8;
    mix-blend-mode: screen;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.Cube5 {
    position: absolute;
    width: 30%;
    height: 30%;
    box-sizing: border-box;
    left: 60%;
    top: 60%;
    transform: rotate(-800.64deg);
    opacity: 0.8;
    mix-blend-mode: screen;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.Cube6 {
    position: absolute;
    width: 40%;
    height: 40%;
    box-sizing: border-box;
    left: 30%;
    top: 40%;
    transform: rotate(80.17deg);
    opacity: 0.8;
    mix-blend-mode: screen;
}

.Cube7 {
    position: absolute;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    left: -4%;
    top: 70%;
    transform: rotate(52deg);
    opacity: 0.8;
    mix-blend-mode: screen;
}

.Hollo1{
    position: absolute;
    width: 8%;
    height: 8%;
    box-sizing: border-box;
    left: 7%;
    top: 25%;
    /* transform: rotate(-20.64deg); */
}

@media only screen and (max-width: 600px) {
    .MsgFrameBox {
        position: absolute;
        width: 127%;
        height: 140%;
        box-sizing: border-box;
        left: -22%;
        top: 0%;
    }
    /* .Cube1 .Cube2 .Cube3 .Cube4 .Cube5 .Cube6 {
        display: none;
    } */
  }